* {
  // background is transparent by default
  // mergin and padding are 0 by default
  all: unset;
  // font is Hack by default
  font-family: "Hack", monospace;
  // font is bold by default
  font-weight: bold;
}

label, button {
  font-size: 14px;
  border-radius: 14px;
  margin: 0px 2px;
  padding: 0px 4px;
  background: rgba(80,80,80, 0.85);
  color: #f8f8f2;
}

scale {
  highlight {
    border: 3px solid rgb(170, 247, 146);
  }
  trough {
    border: 3px solid rgb(170, 247, 146);
    border-radius: 6px;
    min-width: 100px;
    margin: 0px 4px;
  }
}

.indicator {
  color: #4d4d4d;
  background: rgba(80,80,80, 0.85);
  border-radius: 14px;
  padding: 0px;
  margin: 0px 2px;

  label {
    margin: 0px;
    padding: 0px 5px;

  }

  .bat-icon {
    color: #4d4d4d;
    background: rgba(241, 250, 140, 0.85);
  }

  .mem-icon {
    color: #4d4d4d;
    background: rgba(255, 110, 103, 0.85);
  }

  .cpu-icon {
    color: #4d4d4d;
    background: rgba(251, 200, 140, 0.85);
  }

  .vol-icon {
    color: #4d4d4d;
    background: rgba(154, 237, 254, 0.85);
  }

  .player-indicator {
    color: #4d4d4d;
    background: rgba(170, 247, 146, 0.85);
  }

  .workspace-indicator {
    color: #4d4d4d;
    background: rgba(154, 237, 254, 0.85);
  }
}

