/*
 * waybar -l debug
 * env GTK_DEBUG=interactive waybar
 */

* {
  font-family: HackGenNerd;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

label, box#tray {
  margin: 1px 2px;
  padding: 0px 8px;
  border-radius: 16px;
  transition: none;
  color: #f8f8f2;
  background: #505050;
}

tooltip {
  background: #505050;
  border: none;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  border-radius: 16px;
  background: #282a36;
  transition: none;
}

#workspaces button {
  transition: none;
  border-radius: 16px;
  padding: 0px 4px;
  color: #f8f8f2;
  background: transparent;
}

#workspaces button.focused {
  color: #9aedfe;
}

#workspaces button.active {
  background: #505050;
}

#workspaces label {
  background: transparent;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #ff79c6;
}

#network {
  color: #4d4d4d;
  background: #bd93f9;
}

#pulseaudio {
  color: #4d4d4d;
  background: #9aedfe;
}

#temperature {
  color: #4d4d4d;
  background: #5af78e;
}

#cpu {
  color: #4d4d4d;
  background: #f1fa8c;
  border-radius: 16px 0px 0px 16px;
  margin: 1px 0px 1px 2px;
}

#memory {
  color: #4d4d4d;
  background: #ff6e67;
  border-radius: 0px 16px 16px 0px;
  margin: 1px 2px 1px 0px;
}

