/*
 * waybar -l debug
 * env GTK_DEBUG=interactive waybar
 */

* {
  font-family: HackGen\ Console\ Nerd;
  /*
  font-size: 14px;
  */
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

label, box#tray {
  margin: 0px 2px;
  padding: 0px 6px;
  border-radius: 14px;
  transition: none;
  color: #f8f8f2;
  background: rgba(80,80,80, 0.85);
}

tooltip {
  background: rgba(80,80,80, 0.85);
  border: none;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  border-radius: 14px;
  background: rgba(40, 42, 54, 0.85);
  transition: none;
}

#workspaces button {
  transition: none;
  border-radius: 14px;
  padding: 0px 4px;
  color: #f8f8f2;
  background: transparent;
}

#workspaces button.focused {
  color: #9aedfe;
}

#workspaces button.active {
  background: rgba(80,80,80, 0.85);
}

#workspaces label {
  background: transparent;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #ff79c6;
}

#network {
  color: #4d4d4d;
  background: rgba(189, 147, 249, 0.85);
}

#pulseaudio {
  color: #4d4d4d;
  background: rgba(154, 237, 254, 0.85);
}

#temperature {
  color: #4d4d4d;
  background: rgba(90, 247, 142, 0.85);
}

#cpu {
  color: #4d4d4d;
  background: rgba(241, 250, 140, 0.85);
  border-radius: 14px 0px 0px 14px;
  margin: 0px 0px 0px 2px;
  padding: 0px 4px 0px 6px;
}

#memory {
  color: #4d4d4d;
  background: rgba(255, 110, 103, 0.85);
  border-radius: 0px 14px 14px 0px;
  margin: 0px 2px 0px 0px;
  padding: 0px 6px 0px 4px;
}

#custom-playerctl {
  color: #4d4d4d;
  background: rgba(120, 220, 112, 0.85);
}

